{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Изменение пароля</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text"><small>Введите свой старый пароль, а затем введите новый пароль дважды, чтобы мы могли убедиться, что он введён верно.</small></p>
                <form action="{% url 'account_change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_oldpassword" class="form-label">Старый пароль:</label>
                        {{ form.oldpassword }}
                        {% if form.oldpassword.errors %}
                            <div class="text-danger">{{ form.oldpassword.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Новый пароль:</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Подтверждение пароля:</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
                </form>
                {% if not user.is_authenticated %}
                <div class="mt-3 text-danger">Вы должны войти в систему, чтобы изменить пароль.</div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
