{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Сброс пароля</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Введите ваш e-mail, чтобы восстановить пароль.</p>
                <form action="{% url 'account_reset_password1' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Ваш e-mail:</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Восстановление пароля</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
