{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Сброс пароля</h2>
    <p class="text-center">Вы зарегистрированы через социальную сеть. Пожалуйста, сбросьте пароль, чтобы войти.</p>
    <form action="{% url 'account_reset_password1' %}" method="get" class="text-center">
        <button type="submit" class="btn btn-primary">Перейти на страницу сброса пароля</button>
    </form>
    <br>
    <p class="text-center"><a href={% url 'account_login' %}>(я зарегестрирован через систему сайта)</a></p>
</div>
{% endblock %}
