{% extends 'base.html' %}

{% block title %}Добавление расходов{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Добавление расходов</h1>
        <form action="{% url 'app:expense_add' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Добавить расход</button>
        </form>
    </div>
{% endblock %}
