{% extends 'base.html' %}

{% block title %}Удаление дохода{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Удаление дохода</h1>
        <p class="alert alert-danger">Вы уверены, что хотите удалить этот доход?</p>
        <div class="text-center">
            <form action="{% url 'app:income_delete' entity.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
            <form action="{% url 'app:index' %}" method="get" class="d-inline">
                <button type="submit" class="btn btn-secondary">Отмена</button>
            </form>
        </div>
    </div>
{% endblock %}
