{% extends 'base.html' %}

{% block title %}Редактирование расхода{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Редактирование расхода</h1>
        <form action="{% url 'app:expense_edit' entity.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
        <form action="{% url 'app:index' %}" method="get" class="mt-3">
            <button type="submit" class="btn btn-secondary">Отмена</button>
        </form>
    </div>
{% endblock %}
